html,
body {
  margin: 0;
  font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 150%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

a {
  /* text-decoration: none; */
  color: #0092e4;
}
a:hover {
  color: #00ade4;
}
#app_body h1 {
  margin-bottom: 18px;
  margin-top: 12px;
  font-size: 72px;
  font-weight: 800;
  line-height: 93px;
}
#header > a,
#header > .company-name {
  display: none;
}

.field-error-msg {
  color: #e43326;
  /* line-height: 30px; */
}
.field-error {
  border: solid 1px #e43326 !important;
}
#main_fields .asterisk,
#custom_fields .asterisk,
#demographic_questions .asterisk,
#eeoc_fields .asterisk {
  color: #e43326;
}

#wrapper {
  max-width: 1200px;
  padding: 0px 0px;
}

#app_body {
  max-width: unset;
  padding-left: 0px !important;
}

.location {
  color: #d9d9d9;
  margin: 8px 0px;
  display: table;
  border: 1px solid #757575;
  padding: 4px 8px;
  border-radius: 6px;
}
.filter-container .filter-label {
  color: #d9d9d9;
}

#content {
  margin-top: 80px;
}

#content > div > h2,
#content > div > h3,
#content > div > strong {
  font-size: 48px;
  font-weight: 700;
  line-height: 68px;
  margin-top: 80px;
  margin-bottom: 40px;
  display: block;
}

.accessible #content {
  line-height: 150%;
}

div#application {
  padding: 50px;
  margin-top: 80px;
  /* background-color: #bbb; */
  max-width: unset;
  border-radius: 12px;
  border: 1px solid #fff;
  background: #000;
}
div#application .heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 68px;
  margin-bottom: 30px;
}

.attach-or-paste .unstyled-button.link-button {
  color: #0092e4;
  font-size: 16px;
}
.attach-or-paste .unstyled-button.link-button:hover {
  color: #00ade4;
}
.attach-or-paste .unstyled-button {
  background-color: unset;
}
.attach-or-paste .link-container a {
  font-size: 16px;
}

.file-types {
  color: #d9d9d9;
}
#main_fields div.field label,
#custom_fields div.field label,
#demographic_questions div.field label,
#eeoc_fields div.field label {
  font-size: 16px;
}
.accessible #submit_app,
.accessible #apply_button {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

#custom_fields div.field input[type='text'],
#custom_fields div.field textarea,
#custom_fields div.field .text-field,
#custom_fields div.field .select2-container-multi {
  line-height: 24px;
  font-size: 16px;
}

#main_fields div.field input[type='text'],
#main_fields div.field textarea,
#main_fields div.field .text-field,
#custom_fields div.field input[type='text'],
#custom_fields div.field textarea,
#custom_fields div.field .text-field,
#custom_fields div.field .select2-container-multi,
#demographic_questions div.field input[type='text'],
#demographic_questions div.field textarea,
#demographic_questions div.field .text-field,
#eeoc_fields div.field input[type='text'],
#eeoc_fields div.field textarea,
#eeoc_fields div.field .text-field {
  font-size: 16px;
  line-height: 24px;
}

/* .select2-search input,
.select2-search-choice-close,
.select2-container .select2-choice abbr, */
.select2-container .select2-choice .select2-arrow b {
  background-size: 60px 52px !important;
}
.select2-container .select2-choice {
  height: 32px;
  line-height: 32px;
}

#submit_buttons {
  text-align: center;
}

#footer {
  border-top: solid 1px transparent;
  background-color: transparent;
}
